# Logs
*.log
debug.log

# Build artifacts
build/
dist/
*.exe
*.pkg
*.pyc
__pycache__/
# PyInstaller
*.spec
# C extensions build
build/temp.*
*.pyd
# virtualenv
venv/
.env

# dev
.cursor/
.kilo/
.vscode/
.hintrc
